/* 
Flex Box Model

It consists of a container and flex items (items inside the flex container)

two axis: - 
    1) horizontal axis: by default it is considered as the "main axis"
    2) vertical axis: it is considered as the "cross axis"

FLEX DIRECTION:
    1) flex-direction: row; (default)
    -->
    main axis = x-axis
    cross axis = y-axis
    it means that the items will be arranged row wise

    2) flex-direction: row-reverse;
    -->
    main axis = x-axis
    cross axis = y-axis
    it means that the items will be arranged row wise but in reverse order

    3) flex-direction: column;
    -->
    main axis = y-axis
    cross axis = x-axis
    it means that the items will be arranged column wise

    4) flex-direction: column-reverse;
    -->
    main axis = y-axis
    cross axis = x-axis
    it means that the items will be arranged column wise but in reverse order


FLEX PROPERTIES FOR CONTAINER:

    1) justify-content - it sets the alignment along the main axis

        Main Axis = x

        (a) flex-start: content shifted to left
        (b) flex-end: content shifted to right
        (c) center: content shifted to center
        (d) space-evenly: it will set the content in such a way that there will be even space between them and around them.
        (e) space-between: it will set the content in such a way that there will be even space between them.
        (f) space-around: it will set the content in such a way that the space between them will be same and the space at the start and end will be saem

        Main Axis = y

        (a) flex-start: content shifted to top
        (b) flex-end: content shifted to down
        (c) center: content shifted to middle
        (d) space-evenly: it will set the content in such a way that there will be even space between them and around them.
        (e) space-between: it will set the content in such a way that there will be even space between them.
        (f) space-around: it will set the content in such a way that the space between them will be same and the space at the top and down will be same

    2) flex-wrap - it will set whether there will be any wrapping of content or not

        (a) nowrap: No Wrapping
        (b) wrap: Wrapping
        (c) wrap-reverse: Reversse Wrapping

    3) align-items - It allows you to set the items across the "cross-axis"

        Cross Axis - y

        (a) flex-start: align from the top
        (b) flex-end: align from the end
        (c) center: align at the center
        
        Cross Axis - x

        (a) flex-start: align from the left
        (b) flex-end: align from the right
        (c) center: align at the center 

    4) align-content - it allows you to set the alignment of space between & around the content along the "cross-axis"

        Cross Axis - y

        (a) start: space at the end along the y-axis
        (b) end: space at the top along the y-axis
        (c) center: space at top and end (equal space) along the y-axis
        (d) space-evenly: even amount of space in between and around along the y-axis
        (e) space-around: even amount of space around the content along the y-axis
        (f) space-between: space between the content along the y-axis
        
        Cross Axis - x

        (a) start: space at the end along the x-axis
        (b) end: space at the top along the x-axis
        (c) center: space at top and end (equal space) along the x-axis
        (d) space-evenly: even amount of space in between and around along the x-axis
        (e) space-around: even amount of space around the content along the x-axis
        (f) space-between: space between the content along the x-axis
*/  

body{
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: underline;
}


h2{
    text-align: center;
}


#container1{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
}

#container2{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row-reverse;
}

#container3{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
}

#container4{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column-reverse;
}

#container5{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: flex-start;
}

#container6{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: flex-end;
}

#container7{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: center;
}

#container8{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: space-evenly;
}

#container9{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: space-between;
}

#container10{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: space-around;
}


#container11{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    justify-content: flex-start;
}

#container12{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    justify-content: flex-end;
}

#container13{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    justify-content: center;
}

#container14{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    justify-content: space-evenly;
}

#container15{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    justify-content: space-between;
}

#container16{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    justify-content: space-around;
}

#container17{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: nowrap;
}

#container18{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
}

#container19{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

#container20{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: nowrap;
}

#container21{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
}

#container22{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

#container23{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#container24{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

#container25{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#container26{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

#container27{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

#container28{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#container29{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
}

#container30{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: end;
}

#container31{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#container32{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

#container33{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

#container34{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
}

#container35{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
}

#container36{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: end;
}

#container37{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#container38{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

#container39{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

#container40{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
}

#container41{
    border: black 2px solid;
    display: flex;
    height: 500px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    align-self: stretch;
}

#container42{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#container43{
    border: black 2px solid;
    display: flex;
    height: 200px;
    width: 800px;
    margin-left: 22.5vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


div{
    display: inline-block;
    height: 20px;
    width: 100px;
    border: black 2px solid;
}

#div1{
    background-color: aqua;
}

#div2{
    background-color:aquamarine;
}

#div3{
    background-color:cadetblue;
}

#div4{
    background-color:steelblue;
}

#div5{
    background-color:slategrey;
}


#div6{
    background-color: aqua;
    width: 200px;
    height: 200px;
}

#div7{
    background-color:aquamarine;
    width: 200px;
    height: 200px;
}

#div8{
    background-color:cadetblue;
    width: 200px;
    height: 200px;
}

#div9{
    background-color:steelblue;
    width: 200px;
    height: 200px;
}

#div10{
    background-color:slategrey;
    width: 200px;
    height: 200px;
}

#div11{
    border: rgb(26, 100, 175) 5px solid ;
    /* background-color: rgb(26, 100, 175); */
    width: 200px;
    height: 100px;
    align-self: stretch;
}
#div12{
    background-color:rgb(85, 203, 120);
    width: 200px;
    height: 200px;
    align-self: start;
}

#div13{
    background-color:rgb(197, 165, 60);
    width: 200px;
    height: 200px;
    align-self: center;
}
#div14{
    background-color:rgb(218, 102, 224);
    width: 200px;
    height: 200px;
    align-self: end;
}


#div15{
    /* border: rgb(26, 100, 175) 5px solid ; */
    background-color: rgb(26, 100, 175);
    width: 50px;
    height: 50px;
    flex-grow: 0.2;
}

#div16{
    background-color:rgb(85, 203, 120);
    width: 50px;
    height: 50px;
    /* align-self: start; */
}

#div17{
    background-color:rgb(197, 165, 60);
    width: 50px;
    height: 50px;
    flex-grow: 0.7;
    /* align-self: center; */
}
#div18{
    background-color:rgb(218, 102, 224);
    width: 50px;
    height: 50px;
    /* align-self: end; */
}

#div19{
    /* border: rgb(26, 100, 175) 5px solid ; */
    background-color: rgb(26, 100, 175);
    width: 150px;
    height: 50px;
    /* flex-shrink: ; */
}

#div20{
    background-color:rgb(85, 203, 120);
    width: 150px;
    height: 50px;
    flex-shrink: 1;
}

#div21{
    background-color:rgb(197, 165, 60);
    width: 150px;
    height: 50px;
}
#div22{
    background-color:rgb(218, 102, 224);
    width: 150px;
    height: 50px;
}