body{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px solid #2D3142;
    border-top: 10px solid #EAE8FF;
    animation-name: loader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}


@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}