/* Units in css 
96px = 1inch = 2.54cm
*/

#p1{
    font-size: 50px;
}

#p2{
    font-size: 35px;
    text-transform: uppercase;  /* text-transform: uppercase/lowercase/capitalize/none */
}

#p3{
    font-size: 20px;
    line-height: 25px; /* line-height: 2px / 3 / normal : - it is the height taken by each line */
}



