/* video
Display Property

display: inline / block / inline-block / none;

"inline" - takes only space required by the element (no margin/no padding)

"block" - takes full space available in width

"inline-block" - similar to inline but we can set margin and padding

"none" - to remove element from document flow


Block level Elements: -

1) <address>  
2) <article>  
3) <aside>  
4) <blockquote>  
5) <canvas>  
6) <dd>  
7) <div>  
8) <dl>
9) <dt>  
10) <fieldset>  
11) <figcaption>  
12) <figure>  
13) <footer>  
14) <form>  
15) <h1>-<h6> 
16) <header>  
17) <hr>  
18) <li>  
19) <main>  
20) <nav>  
21) <noscript>  
22) <ol>  
23) <p>  
24) <pre>  
25) <section> 
26) <table>  
27) <tfoot>  
28) <ul>  
29) <video>


Inline level elements: -

1) <a>   
2) <abbr>  
3) <acronym>  
4) <b>  
5) <bdo>  6) <big>  
7) <br>  
8) <button>  
9) <cite>  
10) <code>  
11) <dfn>  
12) <em>  
13) <i>  
14) <img>  
15) <input>  
16) <kbd>  
17) <label>  
18) <map>  
19) <object>  
20) <output>  
21) <q>  
22) <samp>  
23) <script>  
24) <select>  
25) <small>  
26) <span>  
27) <strong>  
28) <sub>  
29) <sup>  
30) <textarea>  
31) <time>  
32) <tt>  
33) <var>


Drawback of Inline display: -
No margin will be set at top and bottom even if margin is given on those sides then inline-block comes to play

*/

/* div{
    background-color: aqua;
    display: block;
}

button{
    display: block;
} */

#box1{
    background-color:aqua;
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;  
    visibility: hidden; /* when Visibility is set to none  space for the element is reserved. But for display set to none no space is reserved or blocked for the element */
}

#box2{
    background-color:aquamarine;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin: 25px;
    display: none;
}

#box3{
    background-color:cornflowerblue;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin: 25px;
    display: inline-block;
}