*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;   /* This line means that if there is a border or a padding to a content then its thickness must count in the actual height and width of the content (example: height and width of a div is 100px and border-thickness is 5px which means real height and width of the div is 95px. */
}

body{
    background-color: #D4A3D2;
}

.navbar{
    height: 60px;
    background-color: #121921;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.nav-logo{
    /* padding: 3px; */
    height: 50px;
    width: 113px;
}

.border{
    border: 1.5px solid transparent;
}


.border:hover{
    padding: 3.5px;
    border: 1.5px solid white;
}

.logo{
    height: 50px;
    width: 150px;
    padding: 5.5px;
    background-image: url("amazon_logo.png");
    background-repeat: no-repeat;
    background-position-y: center;
}


/* Address */

.nav-address{
    height: 50px;
    width: 80px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
    background-color: #121921;
}

.add-sec{
    font-size: 1rem;
    background-color: #121921;
    margin-left: 3px;
}

.add-icon{
    display: flex;;
}



/* search */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    width: 537px;
    height: 38px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 3.5px solid #FEBD69;
    border-radius: 7.5px;
}


.search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    background-color: #e6e6e6;
    width: 55px;
    padding: 5px;
    text-align: center;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none; 
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
}


.search-icon{
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}



/* acc */

.nav-acc{
    width: 130px;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: #121921;
    justify-content: center;
}

span{
    font-size: .8rem;
    font-weight: 450;

}



p{
    border: none;
    background-color: #121921;
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
}

.nav-cart i{
    font-size: 35px;
    
}

.cart{
    font-size: 1rem;
    font-weight: 700;
}


.ret-ord-border{
    border: 1.5px solid transparent;
}


.ret-ord-border:hover{
    padding: 9px;
    border: 1.5px solid white;
}


/* Lower panel under navbar */

.nav-low-panel i{
    font-size: 10px;
}

.nav-low-panel{
    height: 40px;
    background-color: #232F3F;
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
}

.low-panel-border{
    border: 1.5px solid transparent;
}


.low-panel-border:hover{
    /* padding: 9px; */
    border: 0.75px solid white;
}

.low-panel-all{
    height: 37px;
    width: 40px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    background-color: #232F3F;
    border: none;
}

.low-panel-deals{
    height: 37px;
    width: 102px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap:nowrap;
}

.low-panel-service{
    height: 37px;
    width: 128px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap:nowrap;
}

.low-panel-registry{
    height: 37px;
    width: 70px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap:nowrap;
}

.low-panel-gift{
    height: 37px;
    width: 81px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap:nowrap;
}

.low-panel-sell{
    height: 37px;
    width: 41px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap:nowrap;
}

/* hero  section */

.hero-section{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.in-hero{
    height: 30px;
    width: 95%;
    font-size: 14px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

a{
    color: #007185;
    text-decoration: none;
}

.content1, .content2{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #D4A3D2;
}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 340px;
    border-radius: 5px;
}

.box1-img{
    height: 280px;
    width: 275px;
    background-image: url("box1.jpg");
    background-size: cover;
    margin-left: 25px;
}

.box2-img{
    height: 280px;
    width: 300px;
    background-image: url("box2.jpg");
    background-size: cover;
    margin: 11px;
}

.box3{
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.box3-img{
    margin-top: 15px;
}

.tempo{
    margin-top: 30px;
    margin-left: 10px;
    height: 100px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.temp{
    height: 100px;
    width: 150px;
    /* border: 2px solid black; */
}

.box3-imga{
    background-image: url("box3a.jpg");
    background-size: 150px 100px    ;
}


.box3-imgb{
    background-image: url("box3b.jpg");
    background-size: 150px 100px    ;
}

.box3-imgc{
    background-image: url("box3c.jpg");
    background-size: 150px 100px    ;
}

.box3-imgd{
    background-image: url("box3d.jpg");
    background-size: 150px 100px    ;
}

.box4{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: #ffff;
}

.box4-deals{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
}

.box4-img{
    height: 280px;
    width: 275px;
    background-image: url("box_4.jpg");
    background-size: cover;
    margin-left: 25px;
}

.box4-shop-now{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-left: 15px;
}


.box5-img{
    height: 280px;
    width: 290px;
    background-image: url("box5.jpg");
    background-size: cover;
    margin-left: 25px;
}

.box6-imga{
    background-image: url("box6a.jpg");
    background-size: 150px 100px    ;
    margin-right: 15px;
}
.box6-imgb{
    background-image: url("box6b.jpg");
    background-size: 150px 100px    ;
    margin-right: 15px;
}
.box6-imgc{
    background-image: url("box6c.jpg");
    background-size: 150px 100px    ;
    margin-right: 15px;
}
.box6-imgd{
    background-image: url("box6d.jpg");
    background-size: 150px 100px    ;
    margin-right: 15px;
}


.box7-img{
    height: 280px;
    width: 290px;
    background-image: url("box7.jpg");
    background-size: cover;
    margin-left: 25px;
}


.box8-img{
    height: 280px;
    width: 290px;
    background-image: url("box8.jpg");
    background-size: cover;
    margin-left: 25px;
}


big{
    margin-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-decoration: underline;
}

.video{
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: #D4A3D2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-panel{
    margin-top: 15px;
    margin-left: 38px;
    width: 95%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 50px;
}

.p{
    border: 2px solid white;
    height: 100%;
    width: 220px;
    background-color: white;
    border-radius: 5px;
}

.pr{
    /* border: 2px solid blue; */
    height: 250px;
}

.dt{
    height: 50px;
    width: 100%;
    justify-content: center;
    /* border: 2px solid red;   */
}

.prod1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1-dt{
display: flex;
flex-direction: column;
align-items: center;
}

.prod2{
        display: flex;
        justify-content: center;
        align-items: center;
}

.p2-dt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p3-dt{
display: flex;
flex-direction: column;
align-items: center;
}

.prod4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p4-dt{
display: flex;
flex-direction: column;
align-items: center;
}

.prod5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p5-dt{
display: flex;
flex-direction: column;
align-items: center;
}

.prod6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p6-dt{
display: flex;
flex-direction: column;
align-items: center;
}


.product-panel2{
    display: flex;
    flex-direction: column; 
    width: 95%;
    margin-left: 38px;
    height: 270px;
    background-color: white;
    margin-bottom: 50px;
}

.books-panel{
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
}

.book1{
    height: 200px;
    width: 133px;
    background-image: url("book1.jpg");
}

.book1{
    height: 200px;
    width: 200px;
    background-image: url("book2.jpg");
}

.book3{
    height: 200px;
    width: 133px;
    background-image: url("book3.jpg");
}

.book4{
    height: 200px;
    width: 147px;
    background-image: url("book4.jpg");
}

.book5{
    height: 200px;
    width: 135px;
    background-image: url("book5.jpg");
}

.book6{
    height: 200px;
    width: 132px;
    background-image: url("book6.jpg");
}

.book7{
    height: 200px;
    width: 133px;
    background-image: url("book7.jpg");
}

.book8{
    height: 200px;
    width: 147px;
    background-image: url("book8.jpg");
}

.book9{
    height: 200px;
    width: 133px;
    background-image: url("book9.jpg");
}



.sign-panel{
    height: 70px;
    width: 1452px;
    margin-left: 38px;
    margin-bottom: 38px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 222px;
    height: 28px;
    margin-top: 5px;
    background-color: #FEC52E;
    border: 1px solid #FEBD69;
    border-radius: 4px;
}


.top{
    height: 49px;
    width: 100%;
    background-color: #364759;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.links{
    background-color: #232F3E;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}
.p{
    background-color: #232F3E;
    color: #DDDDDD;
    border: none;
    margin: 10px;
}

